.intro.intro-home
  .intro-bg
  .intro-body
    .shell
      %h1 A better way to prevent an injury
      %ol
        %li
          Up to 50% of sport injuries are preventable
        %li
          One million sport injuries occur each year in Australia
        %li
          Half of teenagers who are hospitalized, were injured while
          %br
          being engaged in sport activities
  .intro-actions
    .shell
      %section#search-form.section-search
        .shell
          .section-inner
            .search
              .search-label
                Search for sport and find preventive measures
              .search-box
                .ui.category.search.focus
                  .ui.icon.input.fluid
                    %input.prompt{:autocomplete => "off", :placeholder => "Search for sport...", :type => "text"}/
                    %i.search.icon
                  .results.transition.hidden
                    %a.result
                      .content
                        .title shadow
                    %a.result
                      .content
                        .title superman
                    %a.result
                      .content
                        .title soccer
