%br/
%br/
.ui.container
  %p
    %h2 Disclaimer
  %p  
  %p The material on this site is made available on the understanding that users exercise their own skill and care with respect to its use. Before relying on the material in any important matter, users should carefully evaluate the accuracy, completeness and relevance of the information, and should obtain appropriate professional advice relevant to their particular circumstances.
  %p  
  %p
    %h2 Content
  %p  
  %p The majority of the content on this website has been created to provide assistance to the Australian public and sporting community. We want you to use this information within your organisations, clubs, teams and schools.
  %p  
  %p
    The majority of the content are courtesy of the
    = succeed "," do
      %a{:href => "http://www.ausport.gov.au/"} Australian Sports Commission
    = succeed "," do
      %a{:href => "https://www.playbytherules.net.au/"} PlayByTheRules
    = succeed "," do
      %a{:href => "http://www.bbc.co.uk/learning/subjects/sports_and_fitness.shtml"} BBCSport Learning
    %a{:href => "https://www.asada.gov.au/"} ASADA
    and WikiHow.
  %p  
  %p
    %h2 Privacy Policy
  %p We at sportsaide are committed to protecting your privacy and the confidentiality of your personal information. The following statement relates to our service provision via this website.
  %p
    %h2 What information do we collect?
  %p This website does not use any form of tracking cookie. The sportsaide website collects a record of your visit to our website and logs the following information for statistical analysis and system administration purposes:
  %ul
    %li the IP address of your Internet Service Provider
    %li the date and time of the visit to the site
    %li the pages accessed and documents downloaded
    %li the previous site visited and the type of browser used
  %p  
  %p No attempt will be made to identify users or their browsing activities except where authorised by law, for example, in the unlikely event of an investigation where a law enforcement agency may exercise a warrant to inspect our service provider's logs.We also collect the following information on our online training courses which is used for system administration purposes:
  %ul
    %li email
    %li password
  %p Email addresses are used only to confirm the password and login of a course registrant.
  %p
    %h2 Data quality and data security
  %p Every effort is made to ensure that personal information collected, used or disclosed is accurate, complete and up-to-date. We have endeavoured to secure information transmitted to this website over the internet, however, given the nature of the internet, there is a possibility that this information could be accessed by a third party while in transit. The website contains links to other websites. While we have taken care in linking to other websites, we have no control over those websites and are not responsible for the privacy, security or content of those sites.

  %br/
  %br/