body {
  height: 100%;
  display: block;
  font-family: "Open Sans","Hevetica Neue","Helvetica",sans-serif;
  font-size: 14px;
  line-height: 1.57;
  color: #2d3539;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  background-color: #ebebeb;

  .wrapper {
    min-height: 100%;
    position: relative;
    padding-top: 0;
    transition: padding .4s ease;
    -webkit-transition: padding .4s ease;

    .header {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 99;
      display:block;
      box-shadow: 0 0 5px rgba(0,0,0,.5);
      background-color: white;
      min-height: 54px;

      .header-top {
        .header-inner {
          padding: 10px 0 7px;
          position: relative;
        }
      }

      .dashboard-btn {
        display: block;
        float: right;
      }

      .logo {
        float: left;
        img {
          height: 38px;
        }
      }

      .help {
        float: left;
        margin: 7px 0 0 0;
        font-size: 16px;
        color: #392415;
        letter-spacing: 0.02em;
        font-weight: bold;
      }

      .btn-nav{
        display: none;
      }

      .nav-utilities {
        position: absolute;
        right: 0;
        top: 15px;
        float: right;
        display: block;
      }
    }
  }

  .wrapper-inner-pages {
    padding-top: 95px;

    &.small-padding {
      padding-top: 51px;
    }
  }
}

.intro-home {
  height: 532px;
  background-size: cover;
  position: relative;

  .intro-body {
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(48% - 5rem);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    h1 {
      margin: 0;
      width: 45%;
      font-weight: 600;
      font-size: 2.6em;
      color: #392415;
      line-height: 1.22;
      letter-spacing: -0.02em;
    }

    ol {
      text-shadow: 1px 1px #fff;
      padding: 0 26px;
      margin: 0 0 30px;
      overflow: auto;
      list-style-type: decimal;
      list-style-position: outside;
      margin-top: 15px;
      font-size: 14px;

      li {
        font-size: 1.28rem;
        margin-bottom: 1.4em;
        font-weight: 100;
        line-height: 1.2;
      }
    }
  }

  .intro-actions {
    width: 100%;
    background: rgba(43,27,18,0.75);
    padding: 25px 0 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;

    .section-search {
      padding: 0;

      .section-inner {
        background: none !important;

        .search-content {
          position: relative;
          text-align: center;

          .search-label {
            display: block;
            font-size: 30px;
            color: #fff;
            margin-bottom: 10px;
            letter-spacing: -0.02em;
          }

          .search-box{
            input.prompt {
              border-radius: 0!important;
            }
          }
        }
      }
    }
  }
}

.intro {
  position: relative;
}

.intro-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: asset_url("bg.jpg");
  background-position: center center;
  background-size: cover;
}

*,*:before,*:after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix {
  clear: both;
}

.shell, .container {
  max-width: 1012px;
  margin: auto;
  padding: 0 20px;
}

a{
  text-decoration: none;
}

a, button, input[type="submit"], input[type="button"], input[type="reset"], input[type="file"], input[type="image"], label[for] {
  cursor: pointer;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

img {
  height: auto;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  max-width: 100%;
}


@media (min-width:320px)  {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .intro-home {
    .intro-body{
      font-size: 10px;
      h1 {
        width: 100%;
      }
    }
  }
}
@media (min-width:480px)  {
  /* smartphones, Android phones, landscape iPhone */
  .intro-home {
    .intro-body{
      font-size: 10px;

      h1 {
        width: 100%;
      }
    }
  }
}
@media (min-width:600px)  {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .mobile {
    &.only {
      display: none!important;
    }
  }
  .intro-home {
    .intro-body{
      font-size: 10px;
    }
  }
}
@media (min-width:801px)  {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .intro-home {
    .intro-body{
      font-size: 12px;
    }
  }
  .mobile {
    &.only {
      display: none!important;
    }
  }
}
@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
  .mobile {
    &.only {
      display: none!important;
    }
  }
}
@media (min-width:1281px) {
  /* hi-res laptops and desktops */
  .mobile {
    &.only {
      display: none!important;
    }
  }
}

.no-padding {
  padding: 0!important;
}

.no-margin-left-right{
  margin-left: 0!important;
  margin-right: 0!important;
}

.green {
  color: green;
}

.red {
  color: red;
}