.courses-container {
  margin-top: 1rem!important;

  .course-navigation {
    background-color: white;
    box-sizing: border-box;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        background-color: #f7f7f7;
        border: 1px solid #dcdcdc;

        a {
          line-height: 1.5rem;
          color: rgba(0,0,0,0.55);
          padding: 16px 20px;
          font-size: 14px;
          line-height: 21px;
          display: block;
        }

        &:hover {
          background-color: white;
        }
      }
    }
  }
}

.course-container {
  margin-top: 1rem!important;
  padding-bottom: 64px;
}

.course-block {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  margin-bottom: 10px;
  min-height: 120px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: #f7f7f7;
  }

  .offering-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    .offering-info {
      margin: 0 30px 0 30px;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -o-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;

      .course-offering-name {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -o-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;

        h2 {
          font-size: 20px;
          line-height: 24px;
          margin: 12px 0 8px 0;
        }
      }

      .course-offering-author {
        color: #b3b3b3;
        font-size: 1rem;
      }
    }
  }
}

.course-title-banner {
  width: 100%;
  background-color: #152B39;
  color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  padding: 10px 0;

  .breadcrumb {
    * {
      color: white!important;
      font-size: 12px;
    }
    
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  h1.default-title {
    margin: 0;
    font-size: 23px;
  }
}

.chapter-navigation {
  .search-navigation {
    background-color: white;
    padding: 11px 20px;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15);
  }

  .chapter-wrapper {
    .chapter-content {
      .accordion {
        border-radius: 0;
        width: 100%;
      }
    }
  }
}

.overview-content {
  .author-thumb {
    width: 100px;
    text-align: center;
    h5 {
      font-size: 15px;
    }

    a {
      color: #333;
      cite.author-name {
        font-style: normal;
        font-weight: 300;
      }
    }
  }

  .course-description {
    h6 {
      margin-right: 5px;
      display: inline;
      font-weight: 700;
      font-size: 13px;
    }

    .overview-description {
      font-size: 15px;
      margin-top: 10px;
      font-weight: 300;
      line-height: 22px;
    }
  }

  .course-info-stat-cont {
    margin: auto;
    .course-info-stat {
      background-color: #888;
      color: #fff;
      display: block;
      line-height: 30px;
      font-size: 20px;
      text-align: center;
      padding: 5px;
      border-radius: 5px;
    }

    h6 {
      color: #888;
      margin: 0 0 4px 0;
      padding: 0;
      font-weight: 400;
      font-size: 13px;
      text-align: center;
    }
  }
}

.video-iframe {
  margin: auto;
  display: block;
}

@media (min-width:320px)  {
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .video-iframe {
    width: 250px;
    height: 150px;
  }
}
@media (min-width:480px)  {
/* smartphones, Android phones, landscape iPhone */
  .video-iframe {
    width: 250px;
    height: 150px;
  }
}
@media (min-width:600px)  {
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .video-iframe {
    width: 500px;
    height: 350px;
  }
}
@media (min-width:801px)  {
/* tablet, landscape iPad, lo-res laptops ands desktops */
  .video-iframe {
    width: 400px;
    height: 250px;
  }
}
@media (min-width:1025px) {
/* big landscape tablets, laptops, and desktops */
  .video-iframe {
    width: 500px;
    height: 250px;
  }
}
@media (min-width:1281px) {
/* hi-res laptops and desktops */
  .video-iframe {
    width: 500px;
    height: 250px;
  }
}

.video-separator {
  border-bottom: 1px solid #888;
  margin: 20px 20px;
}

.next-lesson-btn {
  display: block!important;
  margin: auto!important;
}