.footer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-top: 1px solid rgba(0,0,0,0.5);
  z-index: 102;
  box-sizing: border-box;
  height: 50px;
  background-color: #152B39;
  color: #fff;

  .menu-section .button {
    color: white;
    border-color: white;
    background-color: transparent;
    line-height: 26px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 0;
    border: none;

    &:hover, &:focus {
      background-color: #0b161d;
      color: white;
      height: 49px;
    }
  }

  .general-search-bar {
    padding-top: 5px!important;
  }
}

@media (min-width:320px)  {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer {
    .menu-section button {
      font-size: 15px;
    }
  }
}
@media (min-width:480px)  {
  /* smartphones, Android phones, landscape iPhone */
  .footer {
    .menu-section button {
      font-size: 15px;
    }
  }
}
@media (min-width:600px)  {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width:801px)  {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width:1281px) {
  /* hi-res laptops and desktops */
}