!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title sportaide
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body.new-sprortaide
    .wrapper.wrapper-inner-pages.small-padding
      %header.header
        .header-top
          .ui.container
            .header-inner
              .ui.stackable.three.column.grid.relaxed
                .column
                  %a.logo{ href: '/' }
                    =image_tag('main_logo.png')
                    %a{ class: 'ui primary button dashboard-btn mobile only', href: '/dashboard/lessons'} Dashboard
                .column.computer.tablet.only
                  %p.help Play safe. Play smart.
                .column.computer.tablet.only
                  %a{ class: 'ui primary button dashboard-btn', href: '/dashboard/lessons'} Courses
                .column.computer.tablet.only
                  %a{ class: 'ui primary button dashboard-btn', href: '/dashboard/clubs/club_map'} Club Map
                .column.computer.tablet.only
                  %a{ class: 'ui primary button dashboard-btn', href: '/dashboard/lessons'} Dashboard
                -#%ul
                -#  %li.has-subnav
                -#    .nav-dropdown.nav-dropdown-lang
                -#      %ul
                -#        %li
                -#          %a{ href: '/' } English
                -#        %li.change-language
                -#          %a{ href: '/' } Chinese
      = yield
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
