!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sportaide
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body.new-sprortaide
    .wrapper.wrapper-inner-pages.small-padding
      %header.header
        .header-top
          .shell
            .header-inner
              .ui.stackable.grid.relaxed
                .three.column.row
                  .column
                    %a.logo{ href: '/' }
                      =image_tag('main_logo.png')
                  .column.computer.only
                    %p.help Play safe. Play smart.
                -#%ul
                -#  %li.has-subnav
                -#    .nav-dropdown.nav-dropdown-lang
                -#      %ul
                -#        %li
                -#          %a{ href: '/' } English
                -#        %li.change-language
                -#          %a{ href: '/' } Chinese
      = yield
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
